<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/jpk_logo.jpg" type="image/jpeg" />
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/adminNav.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css"
      rel="stylesheet"
    />
    <title>Admin - Employees Page | JPK Veterinary Clinic</title>
  </head>
  <body id="body-pd">
    <header class="header" id="header">
      <div class="header__toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
        "
      >
        <div class="header__admin">
          <span class="admin-name"><%= adminName %></span>
          <img
            decoding="async"
            src="/images/admin-profile_icon.jpg"
            alt="Admin Icon"
            class="user-icon"
          />
        </div>
        <div class="header__img">
          <img decoding="async" src="/images/jpk_logo.jpg" />
        </div>
      </div>
    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <p class="nav__logo">
            <img
              src="/images/jpk_logo.jpg"
              alt="JPK Veterinary Clinic Logo"
              class="nav__logo-icon"
            />
            <span class="nav__logo-name"
              >JPK VETERINARY<br />
              CLINIC</span
            >
          </p>
          <div class="nav__list">
            <a href="/admin" class="nav__link">
              <i class="bx bx-grid-alt nav__icon"></i>
              <span class="nav__name">Homepage</span>
            </a>
            <a href="/admin-appointment" class="nav__link">
              <i class="bx bx-stopwatch nav__icon"></i>
              <span class="nav__name">Appointment</span>
            </a>
            <a href="/admin-client-page" class="nav__link">
              <i class="bx bx-message-square-detail nav__icon"></i>
              <span class="nav__name">Client Page</span>
            </a>
            <a href="/admin-pet-repository" class="nav__link">
              <i class="bx bx-list-ul nav__icon"></i>
              <span class="nav__name">Pet Repository</span>
            </a>
            <a href="/admin-employee-records" class="nav__link active">
              <i class="bx bx-list-ul nav__icon"></i>
              <span class="nav__name">Employee Records</span>
            </a>
          </div>
        </div>
        <a onclick="handleLogout(event)" class="nav__link">
          <i class="bx bx-log-out nav__icon"></i>
          <span class="nav__name">Log Out</span>
        </a>
      </nav>
    </div>
    <section style="padding: 15px">
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <h2 style="margin-bottom: 15px">List of System Users</h2>
        <button class="add-record-btn" onclick="handleAddRecordClick()">
          Add Record
        </button>
      </div>
      <div id="employeesTable"></div>
    </section>
    <div id="logoutModal" class="modal-logout">
      <div class="popup">
        <h2>Logout Confirmation</h2>
        <p>Are you sure you want to logout?</p>
        <div class="button-container">
          <button class="button confirm-button" onclick="handleConfirmLogout()">
            Confirm
          </button>
          <button class="button cancel-button" onclick="handleCancelLogout()">
            Cancel
          </button>
        </div>
      </div>
    </div>

    <div class="add-record-modal">
      <div class="add-record-form">
        <div class="add-record-form-header">
          <h2>Add Record</h2>
          <span class="close-add-record-form" onclick="handleCloseAddRecord()"
            >&times;</span
          >
        </div>
        <form id="addRecordForm" class="add-record-content">
          <div class="add-record-input-group">
            <label for="recordUsername">Username:</label>
            <input
              id="recordUsername"
              name="recordUsername"
              type="text"
              placeholder="Username"
              required
              autocomplete="off"
            />
          </div>
          <div class="add-record-input-group">
            <label for="recordPassword">Password:</label>
            <input
              id="recordPassword"
              name="recordPassword"
              type="text"
              placeholder="Password"
              required
              autocomplete="off"
            />
          </div>
          <div class="add-record-input-group">
            <label for="recordName">Name:</label>
            <input
              id="recordName"
              name="recordName"
              type="text"
              placeholder="Name"
              required
              autocomplete="off"
            />
          </div>
          <div class="add-record-input-group">
            <label for="recordEmail">Email:</label>
            <input
              id="recordEmail"
              name="recordEmail"
              type="text"
              placeholder="Email"
              required
              autocomplete="off"
            />
          </div>
          <div class="add-record-button">
            <button type="submit">Add Record</button>
          </div>
        </form>
      </div>
    </div>

    <div id="add-record-toast" class="add-record-toast">
      <span class="icon">✔</span>
      <span>New Record Added</span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="/js/adminEmployeeRecords.js"></script>
  </body>
</html>
