<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/jpk_logo.jpg" type="image/jpeg" />
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/adminNav.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css"
      rel="stylesheet"
    />

    <link
      href="https://unpkg.com/tailwindcss@1.7.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <title>Admin - Employees Page | JPK Veterinary Clinic</title>
  </head>
  <body id="body-pd">
    <header class="header" id="header">
      <div class="header__toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
        "
      >
        <div class="header__admin">
          <span class="admin-name"><%= adminName %></span>
          <img
            decoding="async"
            src="/images/admin-profile_icon.jpg"
            alt="Admin Icon"
            class="user-icon"
          />
        </div>
        <div class="flex">
          <div x-data="{ dropdownOpen: false }" class="relative my-32">
            <button
              onclick="handleClickOpenNotif()"
              @click="dropdownOpen = !dropdownOpen"
              class="relative z-10 block rounded-md bg-white p-2 focus:outline-none"
            >
              <svg
                class="h-5 w-5 text-gray-800"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                />
              </svg>
              <span
                class="badge absolute top-0 right-0 transform translate-x-1 -translate-y-1"
              >
                <%= notifications.filter(n => !n.isRead).length %>
              </span>
            </button>
            <div
              x-show="dropdownOpen"
              onclick="handleCloseNotif()"
              @click="dropdownOpen = false"
              class="fixed inset-0 h-full w-full z-10"
            ></div>
            <div
              x-show="dropdownOpen"
              class="absolute right-0 mt-2 bg-white rounded-md shadow-lg overflow-hidden z-20"
              style="width: 20rem"
            >
              <div class="py-2 notifications-container" style="padding: 15px">
                <% if (notifications.length > 0) { %> <%
                notifications.forEach(notification => { %>
                <p
                  class="notification-item text-gray-800 text-sm mx-3 px-3 py-2 border-b hover:bg-gray-100 -mx-2 cursor-pointer"
                >
                  <%- notification.message %>
                  <br />
                  - <%= notification.timeAgo %>
                </p>
                <% }); %> <% } else { %>
                <p class="text-gray-900 text-sm mx-3">
                  No notifications available at the moment.
                </p>
                <% } %>
              </div>
              <div
                class="block bg-gray-800"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-evenly;
                "
              >
                <a class="text-white text-center font-bold py-2"
                  >Your notifications</a
                >
                <span class="text-white text-center font-bold py-2">—</span>
                <a
                  href="#"
                  class="text-white text-center font-bold py-2"
                  style="
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                  "
                  onclick="handleReadAllNotifications(event)"
                >
                  <span class="text-white text-center font-bold">
                    Mark all as read
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="header__img">
          <img decoding="async" src="./images/jpk_logo.jpg" />
        </div>
      </div>
    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <p class="nav__logo">
            <img
              src="/images/jpk_logo.jpg"
              alt="JPK Veterinary Clinic Logo"
              class="nav__logo-icon"
            />
            <span class="nav__logo-name"
              >JPK VETERINARY<br />
              CLINIC</span
            >
          </p>
          <div class="nav__list">
            <a href="/admin" class="nav__link">
              <i class="bx bx-grid-alt nav__icon"></i>
              <span class="nav__name">Homepage</span>
            </a>
            <a href="/admin-appointment" class="nav__link">
              <i class="bx bx-stopwatch nav__icon"></i>
              <span class="nav__name">Appointment</span>
            </a>
            <a href="/admin-client-page" class="nav__link">
              <i class="bx bx-message-square-detail nav__icon"></i>
              <span class="nav__name">Client Page</span>
            </a>
            <a href="/admin-pet-repository" class="nav__link">
              <i class="bx bx-list-ul nav__icon"></i>
              <span class="nav__name">Pet Repository</span>
            </a>
            <a href="/admin-employee-records" class="nav__link active">
              <i class="bx bx-list-ul nav__icon"></i>
              <span class="nav__name">Employee Records</span>
            </a>
          </div>
        </div>
        <a onclick="handleLogout(event)" class="nav__link">
          <i class="bx bx-log-out nav__icon"></i>
          <span class="nav__name">Log Out</span>
        </a>
      </nav>
    </div>
    <section style="padding: 15px">
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 70px;
        "
      >
        <h2 style="margin-bottom: 15px; font-weight: bold; font-size: 25px">
          List of System Users
        </h2>
        <button class="add-record-btn" onclick="handleAddRecordClick()">
          Add Record
        </button>
      </div>
      <div id="employeesTable"></div>
    </section>
    <div id="logoutModal" class="modal-logout">
      <div class="popup">
        <h2>Logout Confirmation</h2>
        <p>Are you sure you want to logout?</p>
        <div class="button-container">
          <button class="button confirm-button" onclick="handleConfirmLogout()">
            Confirm
          </button>
          <button class="button cancel-button" onclick="handleCancelLogout()">
            Cancel
          </button>
        </div>
      </div>
    </div>

    <div class="add-record-modal">
      <div class="add-record-form">
        <div class="add-record-form-header">
          <h2>Add Record</h2>
          <span class="close-add-record-form" onclick="handleCloseAddRecord()"
            >&times;</span
          >
        </div>
        <form id="addRecordForm" class="add-record-content">
          <div class="add-record-input-group">
            <label for="recordUsername">Username:</label>
            <input
              id="recordUsername"
              name="recordUsername"
              type="text"
              placeholder="Username"
              required
              autocomplete="off"
            />
          </div>
          <div class="add-record-input-group">
            <label for="recordPassword">Password:</label>
            <input
              id="recordPassword"
              name="recordPassword"
              type="text"
              placeholder="Password"
              required
              autocomplete="off"
            />
          </div>
          <div class="add-record-input-group">
            <label for="recordName">Name:</label>
            <input
              id="recordName"
              name="recordName"
              type="text"
              placeholder="Name"
              required
              autocomplete="off"
            />
          </div>
          <div class="add-record-input-group">
            <label for="recordEmail">Email:</label>
            <input
              id="recordEmail"
              name="recordEmail"
              type="text"
              placeholder="Email"
              required
              autocomplete="off"
            />
          </div>
          <div class="add-record-button">
            <button type="submit">Add Record</button>
          </div>
        </form>
      </div>
    </div>

    <div class="edit-record-modal">
      <div class="edit-record-form">
        <div class="edit-record-form-header">
          <h2>Edit Record</h2>
          <span class="close-edit-record-form" onclick="handleCloseEditRecord()"
            >&times;</span
          >
        </div>
        <form id="editRecordForm" class="edit-record-content">
          <div class="edit-record-input-group">
            <label for="editRecordId">ID:</label>
            <input
              id="editRecordId"
              name="editRecordId"
              type="text"
              placeholder="ID"
              disabled
            />
          </div>
          <div class="edit-record-input-group">
            <label for="editRecordUsername">Username:</label>
            <input
              id="editRecordUsername"
              name="editRecordUsername"
              type="text"
              placeholder="Username"
              disabled
            />
          </div>
          <div class="edit-record-input-group">
            <label for="editRecordUserType">User Type:</label>
            <input
              id="editRecordUserType"
              name="editRecordUserType"
              type="text"
              placeholder="User Type"
              disabled
            />
          </div>
          <div class="edit-record-input-group">
            <label for="editRecordName">Name:</label>
            <input
              id="editRecordName"
              name="editRecordName"
              type="text"
              placeholder="Name"
              required
              autocomplete="off"
            />
          </div>
          <div class="edit-record-input-group">
            <label for="editRecordEmail">Email:</label>
            <input
              id="editRecordEmail"
              name="editRecordEmail"
              type="text"
              placeholder="Email"
              required
              autocomplete="off"
            />
          </div>
          <div class="edit-record-button">
            <button type="submit">Edit Record</button>
          </div>
        </form>
      </div>
    </div>

    <div class="delete-record-modal">
      <div class="delete-modal">
        <div class="close-popup-icon">✕</div>
        <div class="delete-record-modal-header">Delete Record</div>
        <div class="delete-record-modal-message">
          Are you sure you want to delete this record?
        </div>
        <div class="delete-record-button-container">
          <button
            class="cancelled-button button-confirmed"
            onclick="handleDeleteRecordConfirm()"
          >
            Confirm
          </button>
          <button
            class="cancelled-button button-cancelled"
            onclick="handleCloseDeleteRecord()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>

    <div id="add-record-toast" class="add-record-toast">
      <span class="icon">✔</span>
      <span>New Record Added</span>
    </div>

    <div id="existing-record-toast" class="existing-record-toast">
      <span class="icon">✖</span>
      <span class="existing-record-message-toast"></span>
    </div>

    <div id="edit-record-toast" class="edit-record-toast">
      <span class="icon">✔</span>
      <span>Record Edited</span>
    </div>

    <div id="delete-record-toast" class="delete-record-toast">
      <span class="icon">✔</span>
      <span>Record Deleted</span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="/js/adminEmployeeRecords.js"></script>
  </body>
</html>
