<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/images/jpk_logo.jpg" type="image/jpeg" />

    <link rel="stylesheet" href="/css/clinicDirectory.css" />

    <style>
      body {
        font-family: "Nunito", sans-serif;
      }

      .veterinarians-box {
        background-image: url("./images/veterinarians-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: black;
      }
      .veterinarians-box h2 {
        color: black;
      }
      .veterinarians-box p {
        color: black;
      }

      #backBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
      }
    </style>

    <title>Contact | JPK Veterinary Clinic</title>
  </head>
  <body id="body-pd">
    <div class="veterinarians-box">
      <h2
        style="
          text-align: center;
          margin-top: 20px;
          font-weight: bold;
          font-size: 24px;
        "
      >
        VETERINARIANS
      </h2>

      <div class="card-body">
        <div class="card">
          <div class="card-image">
            <img src="/images/profile-icon1.png" alt="" />
          </div>
          <p class="name">Dr. Francis M. Katalbas</p>
          <p class="contact_num"><b>Contact Number:</b> (0917)815-3121</p>
          <p class="email_address"><b>Email:</b> DOKFMK@yahoo.com.ph</p>
        </div>

        <div class="card">
          <div class="card-image">
            <img src="/images/profile-icon2.png" alt="" />
          </div>
          <p class="name">Dr. Francisella P. Katalbas</p>
          <p class="contact_num"><b>Contact Number:</b> (0928)831-0031</p>
          <p class="email_address"><b>Email:</b> franskatalbas@gmail.com</p>
        </div>

        <div class="card">
          <div class="card-image">
            <img src="/images/profile-icon3.png" alt="" />
          </div>
          <p class="name">Jessica Katalbas</p>
          <p class="contact_num"><b>Contact Number:</b> (0919)362-4915</p>
          <p class="email_address"><b>Email:</b> jessicakatalbas@yahoo.com</p>
        </div>
      </div>
    </div>

    <button onclick="history.back()" id="backBtn">Go back</button>
  </body>
</html>
