<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password | JPK Veterinary Clinic</title>
    <link rel="icon" href="/images/jpk_logo.jpg" type="image/jpeg" />
    <link rel="stylesheet" href="/css/forgotPasswordPage.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
  </head>
  <body>
    <div class="container">
      <div class="login-container">
        <div id="forgot-pass" class="forgot-container">
          <form action="/forgot-password" method="POST">
            <p>
              <span id="span-error" class="material-icons-round">
                error_outline </span><br />
              <span id="forgot-instruction">Forgot Password</span><br />
              <span id="forgot-instruction-email">
                Enter your email and we'll send <br />you a link to reset your
                password.
              </span>
            </p>
            <div class="input-email">
              <input
                id="email-field"
                type="email"
                name="email"
                placeholder="example@email.com"
                autocomplete="off"
                required />
                <span id="span-email" class="material-icons-round">
                email
              </span>
            </div>
            <% if (message) { %>
            <p style="margin-bottom: 10px" class="response"><%= message %></p>
            <% } %>
            <div class="submit-btn">
              <button type="submit">Submit</button>
            </div>
            <div class="back-btn">
              <a href="/login">&lt; Back to Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
