<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/jpk_logo.jpg" type="image/jpeg" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/landingPage.css" />

    <title>JPK Veterinary Clinic</title>
  </head>
  <body>
    <div class="full-height">
      <center>
        <table border="0">
          <tr>
            <td width="64%">
              <font class="edoc-logo">JPK VETERINARY CLINIC</font>
              <font class="edoc-logo-sub">| APPOINTMENT SYSTEM</font>
            </td>
            <td width="5%">
              <a href="/login" class="non-style-link">
                <p class="nav-item">LOGIN</p>
              </a>
            </td>
            <td width="8%">
              <a href="/login" class="non-style-link" onclick="handleRegisterClick()">
                <p class="nav-item" style="padding-right: 4px;">REGISTER</p>
              </a>
            </td>
          </tr>

          <tr>
            <td colspan="3">
              <p class="heading-text">Welcome to JPK Veterinary Clinic.</p>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <p class="sub-text2">
                JPK Veterinary Clinic means a building or part of a building where<br/>
                facilities are provided for animal health services, including<br/> 
                vaccinations, consultations, routine checkups, and the prevention<br /> 
                of diseases. The clinic may also offer temporary shelter for animals<br/> 
                during their treatment period.<br/>
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <center>
                <a href="/login">
                  <input
                    type="button"
                    value="Make Appointment"
                    class="login-btn btn-primary btn"
                    style="
                      padding-left: 25px;
                      padding-right: 25px;
                      padding-top: 10px;
                      padding-bottom: 10px;
                    "
                  />
                </a>
              </center>
            </td>
          </tr>
          <tr>
            <td colspan="3"></td>
          </tr>
        </table>
      </center>
    </div>
    <script>
      function handleRegisterClick() {
        localStorage.setItem("isRegisterClicked", "true");
      }
    </script>
  </body>
</html>
