<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset | JPK Veterinary Clinic</title>
    <link rel="icon" href="/images/jpk_logo.jpg" type="image/jpeg" />
    <link rel="stylesheet" href="/css/passwordResetPage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    />
  </head>
  <body>
    <div class="container">
      <div class="reset-container">
        <div id="reset-pass" class="reset-password">
          <form id="reset-form">
            <h2>Reset your Password</h2>
            <% if (locals.isUsed) { %>
            <p class="error-message"><%= isUsed %></p>
            <% } %>
            <input type="hidden" name="userId" value="<%= userId %>" />
            <div class="input-fields new-password">
              <input
                id="password-field"
                type="password"
                name="newPassword"
                placeholder="New Password"
                autocomplete="off"
                required
              />
              <!-- <span class="material-icons-round person" id="span-new-password">
                password
              </span> -->
            </div>
            <div class="input-fields confirm-password">
              <input
                id="confirm-password-field"
                type="password"
                name="confirmPassword"
                placeholder="Confirm Password"
                autocomplete="off"
                required
              />
              <span
                class="material-icons-round password-toggle"
                id="span-confirm-password"
              >
                visibility
              </span>
              <!-- 
              <span
                    class="material-symbols-outlined password-toggle"
                    onclick="togglePassword()"
                  >
                    visibility
                  </span>
                   -->
            </div>

            <div class="reset-btn">
              <button type="submit">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="popup-container" class="popup-container">
      <div class="popup">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            fill="green"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm-1.173 17.414l7.362-7.361-1.414-1.414-5.948 5.948L7.225 10.36l-1.414 1.415 4.016 4.015z"
            />
          </svg>
        </div>
        <h2>Password Updated</h2>
        <p>
          You have successfully changed your password.<br />
          You may now login.
        </p>
        <a href="/login" class="back-to-login">Back to Login</a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/passwordResetPage.js"></script>
  </body>
</html>
