@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");

:root {
  --color1: #ececec;
  --color2: #9fd3c7;
  --color3: #385170;
  --color4: #142d4c;
  --color5: #8cbbb7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100dvh;
  width: 100dvw;
  min-height: 100vh;
  user-select: none;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #44916f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  max-width: 1000px;
  width: 450px;
  height: 450px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.451), 0 6px 20px 0 rgba(0, 0, 0, 0.412);
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.forgot-container {
  color: #44916f;
}

#span-error {
  font-size: 64px;
}

#forgot-instruction {
  font-size: 32px;
}

#forgot-instruction-email,
.response {
  font-size: 14px;
}

.forgot-container .input-email {
  width: 345px;
  height: 45px;
  margin: 25px auto;
  position: relative;
}

.forgot-container .input-email input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #44916f;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  padding: 5px 20px;
  color: #20553e;
  transition: border 0.6s ease;
}

.forgot-container .input-email input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.forgot-container .input-email input:focus {
  border: solid #44916f 2px;
}

.forgot-container .input-email .material-icons-round {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #44916f;
  transition: color 0.6s ease, opacity 0.6s ease;
}

.forgot-container .submit-btn {
  margin-bottom: 10px;
}

.forgot-container .submit-btn button {
  font-size: 16px;
  font-weight: bold;
  background-color: #b2d9c4;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  transition: scale 0.3s ease;
  transition: background-color 0.3s ease;
}

.forgot-container .submit-btn button:active {
  transform: scale(0.98);
}
.forgot-container .submit-btn button:hover {
  color: #ececec;
  background-color: #44916f;
}

.back-btn a {
  color: #44916f;
  font-weight: bold;
  text-decoration: none;
  margin-right: 4px;
  position: relative;
  transition: scale 0.3 ease;
}

.back-btn a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50.9%;
  width: 0;
  height: 2px;
  background-color: #44916f;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.back-btn a:hover::before {
  width: 100%;
}

.back-btn a:hover {
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.reset-status {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}
