@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");

:root {
  --color1: #ececec;
  --color2: #9fd3c7;
  --color3: #385170;
  --color4: #142d4c;
  --color5: #8cbbb7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100dvh;
  width: 100dvw;
  min-height: 100vh;
  user-select: none;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #44916f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-container {
  width: 450px;
  height: 400px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  position: relative;
  overflow-x: hidden;
}

.reset-container {
  color: #44916f;
  opacity: 1;
  transition: opacity 0.6s ease-in-out, transform 0.8s ease-in-out;
  position: absolute;
}

.reset-container h2 {
  font-size: 32px;
}

.reset-container .input-fields {
  width: 345px;
  height: 45px;
  margin: 25px auto;
  position: relative;
}

.reset-container .input-fields input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #b2d9c4;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
  padding: 5px 20px;
  color: #44916f;
  transition: border 0.6s ease;
}

.reset-container .input-fields input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.reset-container .input-fields.new-password.focus input,
.reset-container .input-fields.confirm-password.focus input {
  border: solid #44916f 2px;
}

.reset-container .material-icons-round {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ececec;
  transition: color 0.6s ease, opacity 0.6s ease;
}

#span-new-password,
#span-confirm-password {
  color: #b2d9c4;
}

#span-new-password.focus,
#span-confirm-password.focus {
  color: #44916f;
}

.reset-container .reset-btn {
  width: 345px;
  height: 45px;
  margin: 0 auto;
}

.reset-container .reset-btn button {
  font-size: 16px;
  font-weight: bold;
  background-color: #b2d9c4;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  transition: scale 0.3s ease;
  transition: background-color 0.3s ease;
}
.reset-container .reset-btn button:active {
  transform: scale(0.98);
}
.reset-container .reset-btn button:hover {
  color: #ececec;
  background-color: #44916f;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.popup-container {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.603);
  justify-content: center;
  align-items: center;
}

.popup {
  background: #fff;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.352);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 15px;
}

.popup-container h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.popup-container p {
  font-size: 14px;
  color: #555;
}

.back-to-login {
  margin-top: 8px;
  font-size: 14px;
  color: #28a745;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 22px;
  padding-bottom: 10px;
  transition: color 0.3s ease;
}

.back-to-login:before {
  content: "←";
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.3s ease;
}

.back-to-login:hover {
  color: #218838;
}

.back-to-login:hover:before {
  left: -5px;
}

.back-to-login:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #28a745;
  position: absolute;
  bottom: 4px;
  left: 50%;
  width: 0;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.back-to-login:hover:after {
  width: 50%;
  left: 60%;
}
